@keyframes absolutDivDrift {
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}

body{
    background-color: #5f5f5f;
    color: white;
    font-family:sans-serif;
}
#header{
    width: 100%;
    text-align: center;
    font-size: 15px;
    border-radius: 4px;
    text-decoration: none;
    text-shadow: -4px -4px 8px silver;
    text-transform: uppercase;
}

#footer{
    margin-top: 30px;
	clear:both;
	height: 100%;
	color: white;
    font-family: Arial, sans-serif;
	font-size: 20px;
	text-align: center;
	text-shadow: -4px -4px 8px silver;
	text-transform: uppercase;
	padding: 20px;
}
a {
    text-decoration: none;
    color: white;
    width: 30%;
    border-style: inherit;
    border-color: white;
    border-top: 2px ;
}
#helmet, #login, #ski, #boots, #poles, #regis, #alanded, #land{
    float:none;
	width: 100%;
    background-color: grey;
    color: white;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.absoluteDiv{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    animation-name: absolutDivDrift;
    animation-duration: 1.5s;
    animation-fill-mode: both;
    background-color: #5f5f5f
}